* {
	box-sizing: border-box;
	position: relative;
}

:root {
	--fonts: mononoki;
}

::selection {
	color: var(--green);
	background: var(--text);
}

html {
	scrollbar-color: var(--text) var(--background);
}

body {
	margin: 0;
	color: var(--text);
	background: var(--background);
	font-family: mononoki;
	transition-duration: 0.5s;
}

a {
	text-decoration: underline;
	cursor: pointer;
	color: var(--cyan-s);
}

h1,
h2,
h3,
h4 {
	font-family: vt323, var(--fonts);
	font-weight: normal;
	margin: 0;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

button {
	background: var(--text);
	color: var(--background);
	font-family: inherit;
	font-size: inherit;
	padding: 0 1ch;
	border: none;

	&:hover {
		color: var(--background);
		background: var(--red);
	}
}

/* header section */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: var(--border);
	margin: 0 0;
	padding: 20px;
}

/* container for terminal text on header */
.aecc-container {
	a.aecc {
		text-decoration: underline;
		background: none;
		color: var(--text);
		cursor: pointer;
		padding: 0 1ch;
	}

	span.a {
		color: var(--red);
	}

	span.e {
		color: var(--green);
	}

	span.c1 {
		color: var(--cyan);
	}

	span.c2 {
		color: var(--pink);
	}

	span.arrow {
		color: var(--red-s);
	}

	span.blink {
		vertical-align: top;
		animation-name: blink;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: steps(2.1);
		animation-fill-mode: none;
	}
}

nav {
	display: inline-block;
	a {
		text-decoration: none;
		cursor: pointer;
		padding: 0 1ch;
		color: var(--background);
		background: var(--cyan-s);
		&:hover {
			background: var(--background);
			color: var(--cyan-s);
		}
	}
}

/* theme toggle button */

button.theme-toggle {
	display: inline-block;
}

#wrapper {
	margin: 20px 50px;
	display: grid;
	grid-template-areas:
		"logo pic1 pic2"
		"logo pic3 pic4"
		"h2 h2 h2"
		"info1 info2 info3"
		"calendarh calendarh calendarh"
		"calendar calendar calendar";
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 300px auto auto auto auto 500px;
	grid-gap: 20px;
}

/* class for info boxes */
.box {
	padding: 10px;
	border: var(--border);
	overflow: auto;

	p {
		&::first-letter {
			text-decoration: underline;
		}
		text-align: left;
	}

	h3 {
		margin: 0;
		padding: 1ch;
		background: var(--text);
		color: var(--background);

		&::before {
			content: "> ";
		}

		&::after {
			content: "_";
		}
	}
}

/* class for picture boxes */
.picture-box {
	border: var(--border);
	padding: 10px;
	overflow: hidden;

	&:hover {
		scale: 1.1;
		z-index: 5;
	}

	.caption {
		color: var(--background);
		padding: 0 1ch;
	}
}

/* sections of the grid */

#logo {
	grid-area: logo;
	text-align: center;
}

#intro {
	grid-area: intro;
}

#pic1 {
	background: url("../assets/pics/natuween2023.png");
	background-position: center;
	grid-area: pic1;

	.caption {
		background: var(--red);
	}
}

#pic2 {
	background: url("../assets/pics/confra2023.JPG");
	background-position: bottom;
	grid-area: pic2;

	.caption {
		background: var(--green);
	}
}

#pic3 {
	grid-area: pic3;
	background: url("../assets/pics/competencia_bayamon.png");
	background-position: center center;

	.caption {
		background: var(--cyan);
	}
}

#pic4 {
	grid-area: pic4;
	background: url("../assets/pics/hackton.JPG");
	background-position: center;

	.caption {
		background: var(--pink);
	}
}

/* same background properties for all boxes */
#pic1,
#pic2,
#pic3,
#pic4 {
	background-color: var(--text);
	background-size: cover;
	background-repeat: no-repeat;
	transition-duration: 0.5s;
}

#info {
	grid-area: h2;
	text-align: center;
}

#info1 {
	grid-area: info1;
}

#info2 {
	grid-area: info2;
}

#info3 {
	grid-area: info3;
}

#calendarh {
	grid-area: calendarh;
	text-align: center;
}
#calendar {
	border: none;
	overflow: hidden;
	grid-area: calendar;
	iframe {
		max-width: 800px;
		display: block;
		margin: auto;
		border: 8px double var(--text);
	}
}

footer {
	margin: 40px;

	pre {
		font-family: var(--fonts);
	}
}

/* animacion para el blink del header */

@keyframes blink {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* fonts */

@font-face {
	font-family: "vt323";
	src: url(../assets/VT323.ttf);
}

@font-face {
	font-family: "mononoki";
	src: url(../assets/mononoki.ttf);
}
