* {
	box-sizing: border-box;
}

::selection {
	color: var(--green);
	background: var(--text);
}

body {
	margin: 0;
	color: var(--text);
	background: var(--background);
	font-family: mononoki;
}

a {
	text-decoration: none;
	cursor: pointer;
	padding: 0 1ch;
	color: var(--background);
	background: var(--cyan);

	&:hover {
		text-decoration: underline;
	}
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

button {
	background: var(--text);
	color: var(--background);
	font-family: inherit;
	font-size: inherit;
	padding: 0 1ch;
	border: none;

	&:hover {
		color: var(--background);
		background: var(--red);
	}
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: var(--border);
	margin: 10px;
	padding: 10px;
}

/* container for terminal text on header */
.aecc-container {
	a.aecc {
		text-decoration: underline;
		background: none;
		color: var(--text);
		cursor: pointer;
	}

	span.a {
		color: var(--red);
	}

	span.e {
		color: var(--green);
	}

	span.c1 {
		color: var(--cyan);
	}

	span.c2 {
		color: var(--pink);
	}

	span.arrow {
		color: var(--red-s);
	}

	span.blink {
		vertical-align: top;
		animation-name: blink;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: steps(2.1);
		animation-fill-mode: none;
	}
}

nav {
	display: inline-block;
}

.theme-toggle {
	display: inline-block;
}

/* animacion para el blink del header */
@keyframes blink {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#wrapper {
	margin: 20px 10px;
	display: grid;
	grid-template-areas:
		"logo pic1 pic2"
		"logo pic3 pic4"
		"info info info";
	grid-template-columns: 33% 33% 31%;
	grid-template-rows: 300px auto auto;
	grid-gap: 20px;
}

.box {
	padding: 10px;
	border: var(--border);
	overflow: auto;
	p {
		text-align: left;
	}
}

.picture-box {
	border: var(--border);
	padding: 10px;
	overflow: hidden;

	.caption {
		background: var(--background);
		padding: 0 1ch;
	}
}

#logo {
	grid-area: logo;
	text-align: center;
}

#intro {
	grid-area: intro;
}

#pic1 {
	background: url("../assets/pics/natuween2023.png");
	background-position: center;
	grid-area: pic1;

	.caption {
		color: var(--red);
	}
}

#pic2 {
	background: url("../assets/pics/confra2023.JPG");
	background-position: bottom;
	grid-area: pic2;

	.caption {
		color: var(--green);
	}
}

#pic3 {
	grid-area: pic3;
	background: url("../assets/pics/competencia_bayamon.png");
	background-position: center bottom;

	.caption {
		color: var(--cyan);
	}
}

#pic4 {
	grid-area: pic4;
	background: url("../assets/pics/hackton.JPG");
	background-position: center;

	.caption {
		color: var(--pink);
	}
}

#pic1,
#pic2,
#pic3,
#pic4 {
	background-color: var(--text);
	background-size: cover;
	background-repeat: no-repeat;

	&:hover {
		background-size: contain;
		background-position: center;
	}
}

#info {
	grid-area: info;
}

/* fonts */

@font-face {
	font-family: "vt323";
	src: url(../assets/VT323.ttf);
}

@font-face {
	font-family: "mononoki";
	src: url(../assets/mononoki.ttf);
}
