:root {
	--red: #f38ba8ff;
	--red-s: #d98790ff;
	--green: rgb(153, 231, 146);
	--green-s: #a5c999ff;
	--cyan: #89dcebff;
	--cyan-s: #84bad1ff;
	--pink: rgb(236, 177, 221);
	--pink-s: #dbafc8ff;
	--text: #f2f4fb;
	--background: #1f1e2e;
	--border: 1px solid var(--text);
}
